---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cancellation and Refund" description="Cancellation and Refund Policy for Anshu Sharma's website">
  <main class="m-auto p-6 max-w-6xl text-white absolute z-50 ">
    <h1 class="text-3xl font-bold mb-4">Cancellation and Refund Policy</h1>
    <p class="font-bold">We offer a clear cancellation and refund policy to ensure transparency for our customers.</p>
    <p class="mt-4">1. <strong>Cancellation Policy:</strong> You may cancel your order within 24 hours of purchase to receive a full refund.</p>
    <p class="mt-4">2. <strong>Refund Process:</strong> Refunds will be processed within 7 business days of cancellation. The refund will be credited to the original payment method.</p>
    <p class="mt-4">3. <strong>Exceptions:</strong> No refund will be provided for digital goods once they are delivered or downloaded.</p>
    <p class="mt-4">4. <strong>Contact for Cancellation:</strong> If you wish to cancel, contact us at support@anshu.com with your order details.</p>
  </main>
</Layout>
