---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy" description="Privacy Policy for Anshu Sharma's website">
  <main class="m-auto p-6 max-w-6xl text-white absolute z-50 ">
    <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>
    <p class="font-bold">We take your privacy seriously. This Privacy Policy outlines how we collect, use, and safeguard your information when you use our services.</p>
    <p class="mt-4">1. <strong>Information Collection:</strong> We may collect personal information like your name, email address, and payment details when you use our services.</p>
    <p class="mt-4">2. <strong>Data Usage:</strong> Your data is used to provide services, process transactions, and improve our offerings. We do not share your data with third parties without your consent.</p>
    <p class="mt-4">3. <strong>Cookies:</strong> We use cookies to enhance your browsing experience and collect analytics on site usage.</p>
    <p class="mt-4">4. <strong>Data Protection:</strong> We implement strong security measures to protect your data from unauthorized access.</p>
    <p class="mt-4">5. <strong>Updates:</strong> This policy may be updated periodically. Please check this page regularly for any changes.</p>
  </main>
</Layout>
