---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shipping and Delivery" description="Shipping and Delivery Information for Anshu Sharma's website">
  <main class="m-auto p-6 max-w-6xl text-white absolute z-50 ">
    <h1 class="text-3xl font-bold mb-4">Shipping and Delivery</h1>
    <p class="font-bold">We strive to ensure timely delivery of all orders with the following shipping policies.</p>
    <p class="mt-4">1. <strong>Delivery Time:</strong> All orders are processed within 2-3 business days. Shipping times vary depending on your location and the selected shipping method.</p>
    <p class="mt-4">2. <strong>Shipping Charges:</strong> Shipping charges are calculated based on the weight and size of the order. Free shipping is available on orders above $100.</p>
    <p class="mt-4">3. <strong>International Shipping:</strong> We ship internationally with standard shipping rates. Customs duties may apply, and the customer is responsible for those costs.</p>
    <p class="mt-4">4. <strong>Tracking Information:</strong> Once your order is shipped, you will receive an email with tracking details.</p>
  </main>
</Layout>
