---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms and Conditions" description="Terms and Conditions for using Anshu Sharma's website">
  <main class="m-auto p-6 max-w-6xl text-white absolute z-50 ">
    <h1 class="text-3xl font-bold mb-4">Terms and Conditions</h1>
    <p class="font-bold">By accessing this website, you agree to comply with the following terms and conditions.</p>
    <p class="mt-4">1. <strong>Use of Services:</strong> You must use our services responsibly and comply with all applicable laws and regulations.</p>
    <p class="mt-4">2. <strong>Account Security:</strong> You are responsible for maintaining the confidentiality of your account and password.</p>
    <p class="mt-4">3. <strong>Prohibited Activities:</strong> You are prohibited from using our site for fraudulent purposes or infringing upon the rights of others.</p>
    <p class="mt-4">4. <strong>Termination:</strong> We reserve the right to terminate your access to our services at any time without notice for any breach of terms.</p>
    <p class="mt-4">5. <strong>Liability:</strong> We are not responsible for any damages that may occur from the use or inability to use our services.</p>
  </main>
</Layout>
